<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="www.sitecore.net/xmlconfig">
  <sitecore>
    <wffm>
      <actions>
        <CustomUpdateContact type="Sitecore.WFFM.Extensions.CustomActions.CustomUpdateContact, Sitecore.WFFM.Extensions">
          <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker"/>
          <param name="authentificationManager" ref="/sitecore/wffm/authentificationManager"/>
          <param name="logger" ref="/sitecore/wffm/logger"/>
          <param name="facetFactory" ref="/sitecore/wffm/analytics/facetFactory"/>
        </CustomUpdateContact>
      </actions>
    </wffm>
  </sitecore>
</configuration>
